In [29]:
import pandas as pd

In [30]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [31]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

data =[ 4, 8, 15, 16, 23,42]

pd.Series(data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [32]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.


data2 = ['Roank' , 'Kothadiya' , 'Patel' , 'keshod' , '10100100110']

pd.Series(data2)

0          Roank
1      Kothadiya
2          Patel
3         keshod
4    10100100110
dtype: object

In [33]:
#Q3. Create a Pandas DataFrame that contains the following data:

In [34]:
data3 = [['Alice' , 25 , 'Female' ], ['Bob' , 30, 'male' ],['claria' , 27 , 'Feale']]

In [35]:
pd.DataFrame(data3, columns=['Name', 'Age' , 'Gender'])

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    male
2  claria   27   Feale

In [ ]:
#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.


'''Series in pands is contains single list which can store 1 dimancial data
   Datafrae in pandas is contain multiple list whci can store 2 diamnsial'''


'''example'''


data5 = [1,2,3,4,56,7]

pd.Series[data5]


data3 = [['Alice' , 25 , 'Female' ], ['Bob' , 30, 'male' ],['claria' , 27 , 'Feale']]
pd.DataFrame(data3, columns=['Name', 'Age' , 'Gender'])

In [ ]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
#you give an example of when you might use one of these functions?



'''there is lot of function to use to manipulate data in a padas datafram head() read() tail() rename() '''

In [ ]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?


'''all data structur are in padas is mutale except series'''

In [45]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.


s1 = pd.Series([100,200,300,400,500])
s2 = pd.Series(["Roank" , "shyam" , "rk" , "srk" , "rohan"])
s3 = pd.Series(["first" , 'second' , 'third' , 'fourth' , 'fifth'])

pd.concat([s1,s2,s3] ,axis=1)

     0      1       2
0  100  Roank   first
1  200  shyam  second
2  300     rk   third
3  400    srk  fourth
4  500  rohan   fifth